<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>选课信息</title>
    <script type="text/javascript" src="__STATIC__/js/My97DatePicker/WdatePicker.js" charset="utf-8"></script>
    <link rel="stylesheet" href="__STATIC__/images/css.css" type="text/css">
</head>
<body>
        <form id="form1" name="form1" method="post" action="">
                <table width="100%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#00FFFF" style="border-collapse:collapse">             
                    
                    <tr><td>课程号：</td>
                        <td><input name='courseid' id='courseid' type='text'></td>
                    </tr>
                    <tr><td>教师号：</td>
                        <td><input name='teacherid' id='teacherid' type='text'></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input name="addnew" type="hidden" id="addnew" value="1" />
                        <input type="submit" name="Submit" value="添加" style='border:solid 1px #000000; color:#666666' />
                        <input type="reset" name="Submit2" value="重置" style='border:solid 1px #000000; color:#666666' /></td>
                    </tr>
                </table>
            </form>
            <p>&nbsp;</p>
            <p>下载可选课程信息：</p>
            <input type="button" name="Submit3" onclick="javascript:location.href='{:url(\'choose_listxls\')}';" value="导出课程表EXCEL" style='border:solid 1px #000000; color:#666666' />
    <p>已选课程：</p>
 
    <table width="100%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#00FFFF" style="border-collapse:collapse">  
        <tr>
            <td width="25" bgcolor="#CCFFFF">课程号</td>
            <td bgcolor='#CCFFFF'>课程名称</td>
            <td bgcolor='#CCFFFF'>教师名称</td>
            <td bgcolor='#CCFFFF'>学分</td>
            <td bgcolor='#CCFFFF'>学时</td>            
            
            
        </tr>
        {volist name="res" id='d' key='k'}
            <tr>
                <td>{$d.courseid}</td>
                <td>{$d.coursename}</td>
                <td>{$d.teachername}</td>
                <td>{$d.score}</td>
                <td>{$d.subtime}</td>                                        
            </tr>
        {/volist}
    </table>
   
</body>
</html>
