<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>评教信息</title>
</head>
<body>
<table width="100%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#00FFFF" style="border-collapse:collapse">  
        <tr>
                <td width="25" bgcolor="#CCFFFF">序号</td>
                <td bgcolor='#CCFFFF'>课程编号</td>
                <td bgcolor='#CCFFFF'>课程名称</td>                
                <td bgcolor='#CCFFFF'>评教成绩</td>                                                                            
        </tr>
    {volist name="$res" id='d' key='k'}
    <tr>
        <td width="25">{$k}</td>
        <td>{$d.CId}</td>
        <td>{$d.name}</td>
        <td>{$d.Judge}</td>                                                    
    </tr>
    {/volist}
  
</table>

</body>
</html>