<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>授课表信息</title>
</head>
<body>
<table>  
    <tr>
        <td >CId</td>
        <td >coursename</td>
        <td >stuId</td>
        <td >stuname</td>
        <td >grade</td>
    </tr>
  {volist name="dat" id='d' key='k'}
            <tr>
                <td>{$d.courseid}</td>
                <td>{$d.coursename}</td>
                <td>{$d.stuid}</td>
                <td>{$d.stuname}</td>
                <td>{$d.grade}</td>
                                                        
            </tr>
  {/volist}
</table>

</body>
</html>