<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>选课信息</title>
    <script type="text/javascript" src="__STATIC__/js/My97DatePicker/WdatePicker.js" charset="utf-8"></script>
    <link rel="stylesheet" href="__STATIC__/images/css.css" type="text/css">
</head>
<body>
     
            <p>&nbsp;</p>
            <form>
            <p>下载学生选课信息：</p>
            <input type="button" name="Submit3" onclick="javascript:location.href='{:url(\'gradelistxls\')}';" value="导出选课表EXCEL" style='border:solid 1px #000000; color:#666666' />
            </form>   
            <form id="form1" name="form1" method="post" enctype="multipart/form-data" action="{:url('teacher/addgrade')}">
                <table width="100%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#00FFFF" style="border-collapse:collapse">    
                    <tr><td>上传文件：</td><td><input type="file" name="file" /></td></tr>
                
                    <tr>
                          <td>&nbsp;</td>
                          <td><input type="hidden" name="addnew" value="1" />
                            <input type="submit" name="Submit" value="上传"   style='border:solid 1px #000000; color:#666666' />
                              <input type="reset" name="Submit2" value="重置" style='border:solid 1px #000000; color:#666666' />
                          </td>
                    </tr>
                    </table>
            </form>
            <p>&nbsp;</p>
 
</body>
</html>
