<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>公告信息详细</title><link rel="stylesheet" href="__STATIC__/css.css" type="text/css">
</head>
<body>
    <p>公告信息详细：</p>
    <table width="90%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#00FFFF" style="border-collapse:collapse"> 
        <tr>
            <td width='11%' height=44>公告编号：</td><td width='39%'>{$dat.id}</td></tr><tr>
            <td width='11%' height=44>公告名称：</td><td width='39%'>{$dat.name}</td></tr><tr>
            <td width='11%' height=44>发布日期：</td><td width='39%'>{$dat.announceDate}</td></tr><tr>




            <td width='11%' height=100  >公告内容：</td><td width='39%' colspan=2 height=100 >{$dat.content}</td>
        </tr>
        <tr>
            <td colspan=2 align=center>                
                <a href="{:url('Announcement/download',array('id'=>$dat.id))}">下载附件</a>            
            </td>
            <td colspan=1 align=center>
                    <input type=button name=Submit5 value=返回 onClick="javascript:history.back()" style='border:solid 1px #000000; color:#666666'  /> 
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
</body>
</html>

