<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>添加公告</title>
	<script type="text/javascript" src="__STATIC__/js/My97DatePicker/WdatePicker.js" charset="utf-8"></script>
	<link rel="stylesheet" href="__STATIC__/images/css.css" type="text/css">
</head>
<script language="javascript">
	function OpenScript(url,width,height){
  		var win = window.open(url,"SelectToSort",'width=' + width + ',height=' + height + ',resizable=1,scrollbars=yes,menubar=no,status=yes' );
	}
	function OpenDialog(sURL, iWidth, iHeight){
   		var oDialog = window.open(sURL, "_EditorDialog", "width=" + iWidth.toString() + ",height=" + iHeight.toString() + ",resizable=no,left=0,top=0,scrollbars=no,status=no,titlebar=no,toolbar=no,menubar=no,location=no");
   		oDialog.focus();
	}
</script>
<body>
	<p>添加公告信息： 当前日期： {$ndate}</p>
	<script language="javascript">
	
		
	</script>
	<form id="form1" name="form1" method="post" action="?id={$id}">
		<table width="100%" border="1" align="center" cellpadding="3" cellspacing="1" bordercolor="#00FFFF" style="border-collapse:collapse">    
			<tr><td>公告编号：</td><td><input name='id' type='text' id='id' value='{$str}' style='border:solid 1px #000000; color:#666666' />&nbsp;*</td></tr>
			<tr><td>公告名称：</td><td><input name='name' type='text' id='names' value='' style='border:solid 1px #000000; color:#666666' />&nbsp;*</td></tr>
			<tr><td>发布日期：</td><td><input name='announcedate' id='announcedate' value=' {$ndate}' style='border:solid 1px #000000; color:#666666'/></td></tr>			
			<tr><td>添加文件：</td><td><input name='filerote' type='text' id='filerote' value='' size='50' style='border:solid 1px #000000; color:#666666'  />&nbsp;<a href="javaScript:OpenScript('{:url(\'upfile\',array(\'Result\'=>'filerote'))}',460,180)"><img src="__STATIC__/Images/usefile.png" width="25" height="30" border="0" align="absmiddle" /></a></td></tr>			
			<tr><td>内容：</td><td><textarea name='content' cols='50' rows='8' id='content' style='border:solid 1px #000000; color:#666666'></textarea></td></tr>
		    <tr>
  				<td>&nbsp;</td>
  				<td><input type="hidden" name="addnew" value="1" />
    				<input type="submit" name="Submit" value="添加" onclick="return check();"  style='border:solid 1px #000000; color:#666666' />
  					<input type="reset" name="Submit2" value="重置" style='border:solid 1px #000000; color:#666666' />
  				</td>
			</tr>
			</table>
	</form>
	<p>&nbsp;</p>
</body>
</html>

